* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body {
    font-family: 'Roboto', sans-serif; 
}
.header-section, footer {
     background-color:#1F2937;
     color: #E5E7EB;
     padding: 50px 0;
}
.hero-section {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 50px 0;
}
.quote-section {
    background-color: #E5E7EB;
    color:#1F2937;
    padding: 50px 0;
}
